[submodule "SurflineScraper"]
	path = SurflineScraper
	url = https://github.com/dniamir/SurflineScraper
[submodule "GoogleWeather"]
	path = GoogleWeather
	url = https://github.com/dniamir/GoogleWeather
[submodule "iWindsurfScraper"]
	path = iWindsurfScraper
	url = https://github.com/dniamir/iWindsurfScraper
