[submodule "SurflineScraper"]
	path = SurflineScraper
	url = https://github.com/dniamir/SurflineScraper
[submodule "GoogleWeather"]
	path = GoogleWeather
	url = https://github.com/dniamir/GoogleWeather
[submodule "iWindsurf-Scraper"]
	path = iWindsurf-Scraper
	url = https://github.com/dniamir/iWindsurf-Scraper
